.traditional-piano__keyboard-container {
  display: flex;
  flex: 1;
  z-index: 1;
}

.traditional-piano__accidental-key__wrapper {
  position: relative;
  width: 0;
}

.traditional-piano__accidental-key {
  /* Webkit / Chrome Specific CSS to remove tap highlight color */
  -webkit-tap-highlight-color: transparent;
  /* Firefox Specific CSS to remove button differences and focus ring */
  background-image: none;
  position: absolute;
  cursor: pointer;
  background: #444;
  border-radius: 0px 0px 3px 3px;
  box-sizing: border-box;
  padding: 5px;
  outline: none;
  color: #dbdbdb;
}

.traditional-piano__accidental-key--playing-by-me {
  background: #904ae9;
  color: #fff;
}

.traditional-piano__accidental-key--playing-by-others {
  background: #e1a546;
  color: #fff;
}

.traditional-piano__natural-key {
  /* Webkit / Chrome Specific CSS to remove tap highlight color */
  -webkit-tap-highlight-color: transparent;
  /* Firefox Specific CSS to remove button differences and focus ring */
  background-image: none;
  cursor: pointer;
  background: #fafafa;
  border-radius: 0 0 3px 3px;
  border-color: rgba(73, 73, 73, 0.2);
  padding: 10px;
  outline: none;
  box-sizing: border-box;
  color: #444;
}

.traditional-piano__natural-key--playing-by-me {
  border-bottom: 10px solid #904ae9;
  color: #904ae9;
}

.traditional-piano__natural-key--playing-by-others {
  border-bottom: 10px solid #e1a546;
  color: #e1a546;
}

.traditional-piano__text-container {
  pointer-events: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1rem;
}

.traditional-piano__text--top-text {
  pointer-events: none;
  color: rgb(136, 134, 134);
  margin-bottom: 3px;
}

.traditional-piano__text--bottom-text {
  pointer-events: none;
}

.traditional-piano__octave-shift-key {
  /* Webkit / Chrome Specific CSS to remove tap highlight color */
  -webkit-tap-highlight-color: transparent;
  /* Firefox Specific CSS to remove button differences and focus ring */
  background-image: none;
  cursor: pointer;
  background: #baaed1;
  width: 30px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.traditional-piano__octave-shift-key:first-of-type {
  margin-left: 0;
}

.traditional-piano__octave-shift-key:last-of-type {
  margin-right: 0;
}
